<div class="project-footer">
  <div class="project-footer__inner">
    <p>
      This project has received funding from the European Union’s
      <strong>Marie Skłodowska-Curie Actions</strong>
      under Grant Agreement No <strong>101131125</strong>.
    </p>
    
    <p>
      The views and opinions expressed are those of the authors only and do not necessarily reflect those of the European Union
      or the European Research Executive Agency (REA). Neither the European Union nor the granting authority can be held responsible for them.
    </p>
  </div>
</div>
